<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Danh sách sản phẩm</title>

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">

</head>
<body>

    <div class="container">
        <h1 class="text-center text-danger">Danh sách</h1>
        <table class="table">
            <tr>
                <th></th>
                <th>ID</th>
                <th>Name</th>
                <th>Price</th>
            </tr>
            {% for p in product %}
            <tr>
                <td><img width="120" src="{{ url_for('static', filename=p.image) }}"></td>
                <td>{{ p.id }}</td>
                <td>{{ p.name }}</td>
                <td>{{ "{:,.0f}".format(p.price) }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</body>
</html>